body {
    background-color: rgb(20, 20, 51);
    color: antiquewhite;
}

#main {
    height: 100vh;
    width: 100%;
    display: flex;
    /* side by side (left + right) */
    flex-direction: row;
    /* row-wise layout (default) */
}

#left {
    height: 100vh;
    width: 10vw;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(25, 25, 57);
}

#left div {
    margin-bottom: 40px;
    margin-top: 40px;
    margin-right: 5px;
    height: 25px;
    width: 120px;
    padding: 2px;
    text-align: center;
    border: 1px solid white;
    background-color: burlywood;
}

#left div:hover {
    height: 26px;
    width: 121px;
    padding: 2px;
    text-align: center;
    border: 1px solid rgb(245, 240, 240);
    background-color: rgb(226, 181, 220);
}

#right {
    height: 100vh;
    width: 100vw;
    margin-left: 10px;
}

.port {
    height: 70px;
    width: 87vw;
    color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    justify-content: center;
    text-align: center;
}

#next {
    margin: 10px;
    height: 84vh;
    width: 86vw;
    display: flex;
}

.image {
    height: 75vh;
    width: 900px;
    margin-right: 20px;
    border: 1px solid white;
    background-color: rgb(247, 186, 186);
    border-radius: 50%;
    margin-top: 20px;
}

.end {
    margin: 20px;
    width: 1500px;
    height: 75vh;
    color: rgb(243, 91, 111);
    text-align: center;
    padding-left: 5px;
    border: 1px solid white;
    background-color: beige;
}

img {
    height: 99.5%;
    width: 99.5%;
    border: 1px solid white;
    border-radius: 50%;
}

.para {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.info {
    color: rgb(236, 166, 166);
    text-align: left;
}

.data {
    color: rgb(217, 224, 208);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

.frm {
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: left;
    font-size: 20px;
}

.btn {
    width: 100px;
    height: 30px;
}

.cnt {
    color: rgb(236, 14, 14)
}

.linke {
    color: rgb(15, 15, 15);
    font-size: 13px;
}

.linke:hover {
    color: rgb(17, 63, 90);
    font-size: 14px;
}

.bnk {
    color: black;
    text-align: left;
    font-weight: bold;
}

.lig {
    color: black;
    text-align: left;
}

.two {
    display: flex;
}
.port:hover{
    background-color: aliceblue;
    color: black;
}
.mail{
    text-decoration: none;
    color: rgb(27, 26, 26);
}
.mail:hover{
    color: rgb(29, 95, 218);
}
.get {
    height: 99%;
    width: 25vw;
    padding-left: 10px;
    margin-left: 10px;
    border-radius: 10px;
}
.get:hover{
    background-color: white;
}
.mss:hover{
    background-color: white;
}
.mss {
    height: 93%;
    width: 20vw;
    margin-left: 40px;
    border-radius: 10px;
}

.btn {
    background-color: blue;
    color: white;
    width: 100px;
    height: 22px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
}
.btn:hover{
    height: 23px;
    font-size: 13px;
    width: 101px;
}